<!-- ======= Top Bar ======= -->
<section id="topbar">
  <div class="container clearfix">
    <div class="social-links float-left cntc">
      <a href="https://www.facebook.com/StudyleagueIT/" target="_blank" class="twitter"><i class="fa fa-facebook"
          aria-hidden="true" style="color:white"></i></a>
      <a href="https://twitter.com/ItStudyleague" target="_blank" class="facebook"><i class="fa fa-twitter"
          aria-hidden="true" style="color:white"></i></a>
      <a href="https://www.linkedin.com/in/unavailable/" target="_blank" class="instagram"><i class="fa fa-linkedin"
          aria-hidden="true" style="color:white"></i></a>
      <a href="https://www.instagram.com/studyleagueitsolutions/" target="_blank" class="skype"><i
          class="fa fa-instagram" aria-hidden="true" style="color:white"></i></a>
      <a href="https://api.whatsapp.com/send?phone=917977166001" target="_blank" class="linkedin"><i
          class="fa fa-whatsapp" aria-hidden="true" style="color:white"></i></a>
    </div>
    <div class="contact-info float-right cntc">
      <i class="fa fa-phone" aria-hidden="true" style="color:greenyellow"></i>
      +91 8451858327 |
      <i class="fa fa-phone" aria-hidden="true" style="color:greenyellow"></i>
      +91 7977166001
      |
      <i class="fa fa-envelope" aria-hidden="true" style="color:greenyellow"></i><a
        href="mailto:contactus@studyleagueit.com">

        contactus@studyleagueit.com</a>
    </div>
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="d-none d-lg-block">
  <div class="container">

    <div class="logo float-left">
      <h1 class="text-light"><a href="index.html"><img src="../../assets/Img/logo.png"
            style="max-height: 100px;max-width: 100px;"></a></h1>
    </div>

    <nav class="nav-menu float-right">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#team">Team</a></li>
        <li class="drop-down"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Drop Down 2</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>

  </div>
</header>
<div class="topnav d-block d-lg-none">
  <a href="#home" class="active"><img src="../../assets/Img/logo.png" style="max-height: 100px;max-width: 100px;"></a>
  <div id="myLinks">
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>-
  </div>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div style="background-color: #362957;">
  <div id="slider">
    <figure>
      <img src="../../assets/Img/banner1.jpg">
      <img src="../../assets/Img/banner2.jpg">
      <img src="../../assets/Img/banner3.jpg">
    </figure>
  </div>
</div>
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h6 style="color: red;">Our Products</h6>
      <h2>We've launched our new products</h2>
    </div>

    <div class="row content text-center">
      <div class="col-lg-6">
        <div>
          <img src="../../assets/Img/abt1.png" style="max-height: 250px;">
        </div>
        <div>
          <br>
          <h5><span style="color:#37517E">eShop Website</span></h5>
          <button class="mbtn blue">Explore</button>
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <div>
          <img src="../../assets/Img/abt2.png" style="max-height: 250px;">
        </div>
        <div>
          <br>
          <h5><span style="color:#37517E">eShop Mobile Application</span></h5>
          <button class="mbtn blue">Explore</button>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="about" class="about counts section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h6 style="color: red;">Our Work</h6>
      <h2>We're proud of our work</h2>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
        <div class="count-box">
          <span data-toggle="counter-up" style="color:red">3 +</span>
          <h5>Years of Service.</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
        <div class="count-box">
          <span data-toggle="counter-up" style="color:green">250+</span>
          <h5>Projects</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
        <div class="count-box">
          <span data-toggle="counter-up" style="color:red">150+</span>
          <h5>Happy Clients.</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
        <div class="count-box">
          <span data-toggle="counter-up" style="color:red">80%</span>
          <h5>Client Retention.</h5>
        </div>
      </div>

    </div>

  </div>
</section>

<div class="container">
  <h2>Our  Partners/ Our Clients</h2>
   <section class="customer-logos slider">
      <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
      <div class="slide"><img src="http://www.webcoderskull.com/img/logo.png"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
      <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
   </section>
   
<h2><a href="http://www.webcoderskull.com" target="_blank">http://www.webcoderskull.com</a></h2>
</div>


