<header id="header" class="d-none d-lg-block">
  <div class="container">

    <div class="logo float-left">
      <h1 class="text-light"><a href="index.html"><img src="../../assets/Img/logo.png"
            style="max-height: 100px;max-width: 100px;"></a></h1>
    </div>

    <nav class="nav-menu float-right">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li class="active"><a routerLink="/news" routerLinkActive="active" >Latest   News </a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#team">Team</a></li>
        <li class="drop-down"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Drop Down 2</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>

  </div>
</header>
<div class="topnav d-block d-lg-none">
  <a routerLink="/" class="active"><img src="../../assets/Img/logo.png" style="max-height: 100px;max-width: 100px;"></a>
  <div id="myLinks">
    <a routerLink="/news" routerLinkActive="active">Latest News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>-
  </div>

</div>
  
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h6 class="text-muted">List of Latest News</h6> 
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Don Quixote 
          <div class="image-parent">
              <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Don Quixote 
          <div class="image-parent">
              <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Don Quixote 
          <div class="image-parent">
              <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</div>